{{ define "main" }}

<!-- Banner -->
{{ with .Params.banner }}
<section class="section pt-14">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-8">
        <h1 class="mb-4">
          Ciao sono Alberto!
        </h1>
        <p class="mb-8">  <br>
          Benvenuto nel mio giardino digitale 🌱.

          <br>  <br>
          Sono uno Sviluppatore Web e amo la natura e la montagna. <br>
          <br>
          Nel tempo libero amo <a href='/racconti' title='Blog'>scrivere</a>, <a href='/musica'
            title='Musica'>suonare</a> e <a href='/sculture' title='Sculture'>intagliare il legno</a>.
          <br>
          Questo sito è il contenitore delle mie passioni, un raccolto virtuale delle sfumature che
          compongono la mia vita creativa e personale.
        </p>
        {{ with .button }}
        {{ if .enable }}
        <button class="btn btn-primary"
          onclick="window.scrollTo({ top: document.getElementById('scopri').offsetTop - 70, behavior: 'smooth'});">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </button>
        {{ end }}
        {{ end }}
      </div>
      <div class="lg:col-4 text-center my-auto">
        {{ partial "image" (dict "Src" "/images/io.webp" "Alt" "Banner image" "Loading" "eager" "Class" "my-auto"
        ) }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

{{/* <!-- Banner -->
{{ with .Params.banner }}
<section class="section pt-14">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-7 mb-8 text-center">
        <h1 class="mb-4">
          {{ .title | markdownify }}
        </h1>
        <p class="mb-8">
          {{ .content | markdownify }}
        </p>
        {{ with .button }}
        {{ if .enable }}
        <button class="btn btn-primary"
          onclick="window.scrollTo({ top: document.getElementById('scopri').offsetTop - 70, behavior: 'smooth'});">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </button>
        {{ end }}
        {{ end }}
      </div>
      <div class="col-12">
        {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[500px]"
        ) }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner --> */}}

<!-- Features -->
{{ range $i, $e:= .Params.features }}
<section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}" id="scopri">
  <div class="container">
    <div class="row items-center justify-between">
      <div class="mb:md-0 {{ if not (modBool $i 2) }}
              md:order-2
            {{ end }} md:col-5 lg:col-4 mb-6">
        {{ partial "image" (dict "Src" .image "Alt" "feature image") }}
        {{ if .image2 }}
        {{ partial "image" (dict "Src" .image2 "Alt" "feature image") }}
        {{ end }}
      </div>
      <div class="{{ if not (modBool $i 2) }}
              md:order-1
            {{ end }} md:col-7 lg:col-8">
        <h2 class="mb-4">
          {{ .title | markdownify }}
        </h2>
        <p class="mb-8 text-lg">
          {{ .content | markdownify }}
        </p>
        <ul>
          {{ range .bulletpoints }}
          <li class="relative mb-4 pl-6">
            <i class="fa fa-check absolute left-0 top-1.5"></i>
            {{ . | markdownify }}
          </li>
          {{ end }}
        </ul>
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
        {{ if .button2 }}
        {{ with .button2 }}
        {{ if .enable }}
        <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
          {{ .label }}
          <i class="fa fa-arrow-right pl-2"></i>
        </a>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Features -->

<!-- Testimonials -->
{{ with site.GetPage "sections/testimonial" }}
{{ if .Params.enable }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="md:col-10 lg:col-10 xl:col-8 mx-auto mb-12 text-center">
        <h2 class="mb-4">
          Racconti
        </h2>
        <p>
          {{/* Dalla mia casetta in montagna talvolta trovo ispirazione per condividere riflessioni sulla vita,
          abbracciando
          la bellezza
          della solitudine positiva e riflettendo sulla vita contemporanea. Attraverso articoli e pensieri, cerco di
          catturare l'essenza di una vita in armonia con la natura, offrendo uno sguardo autentico sulle sfide e le
          gioie di abbracciare un ritmo più tranquillo e significativo nella frenesia moderna. */}}
          Ci sono giorni in cui l'ispirazione fluisce in modo particolare e mi ritrovo pervaso da serenità e
          calma profonde. In quei momenti mi dedico alla scrittura. La mia penna danza soprattutto tra le vette
          montane, ma non solo. In questa sezione, ho riunito alcuni racconti, spesso intrecciati con le storie
          che i miei nonni amavano raccontarmi quand'ero bambino. Questa pratica diventa un modo affettuoso di
          preservare la memoria di loro, un tesoro che custodisco con amore nel mio cuore.






        </p>
      </div>
      <div class="col-12">
        <div class="row">
          {{ range first 3 ( where .Site.RegularPages "Type" "racconti" ) }}
          <div class="md:col-4 lg:col-4 mb-14">
            {{ partial "components/blog-card" . }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Testimonials -->
{{ end }}